.navbar-fixed {
    background-color: rgba(255, 255, 255, 0.9); /* Cambiar el último valor (0.9) para ajustar la opacidad */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el navbar esté encima de otros elementos */
}
